.container {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* mobile */
.image {
    background: lightyellow;
    height: 55%;
    width: 50%;
}

.topbar1 {
    background: lightgreen;
    height: 10%;
    width: 75%;
}

.topbar2 {
    background: green;
    height: 10%;
    width: 25%;
}

.info-basic {
    background: lightblue;
    height: 25%;
    width: 100%;
}

.info-ext {
    background: aquamarine;
    display: none;
}

.price {
    background: lightgray;
    height: 55%;
    width: 50%;
}

.btn {
    background: lightpink;
    height: 10%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image {
        order: 0;
        width: 25%;
        height: 100%;
    }

    .topbar1 {
        order: 1;
        width: 55%;
    }

    .info-basic {
        order: 2;
        width: 55%;
    }

    .info-ext {
        display: flex;
        order: 3;
        width: 55%;
        height: 65%;
    }

    .topbar2 {
        order: 4;
        width: 20%;
    }

    .price {
        order: 5;
        width: 20%;
        height: 70%;
    }

    .btn {
        order: 6;
        width: 20%;
        height: 20%;
    }
}
